.aluno{
	display: block;
	height: auto;
	width: auto;
	min-width: 28rem;
	max-width: 40rem;
	padding: 4.7rem;
	margin: 0 auto;
	text-align: center;
}

.cat-container{
	display: flex;
	margin: 0 auto;
	margin-bottom: 4.7rem;
	max-width: 90rem;
	min-width: 60rem;
}

.cat-item {
	background-color: #B0EAFF;
	align-content: space-around;
}

.cat-txt{
	margin: 1rem;
}

.margem{
	margin: 0.5rem;
}

.font_serif{
	font-family: 'PT Serif', serif;
	font-size: 2rem;
}

.font_sans{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 1.2rem; 
}