.projeto{
	display: block;
	height: auto;
	width: auto;
	padding: 6rem;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

.info-container{
	display: flex;
	height: 3rem;
	margin: 0 auto;
	margin-bottom: 4.7rem;
	max-width: 40rem;
	justify-content: space-evenly;
	background-color: #5DC8EB;
	box-shadow: 0px 0px 3px;
}

.info-item {
	align-self: center;
	padding: 0.72rem;
	font-size: 1.1rem;
}

.proj-container{
	display: flex;
	margin: 0 auto;
	margin-bottom: 9.3rem;
	max-width: 55rem;
}

.proj-item {
	background-color: #B0EAFF;
	min-width: 50%;
	height: 31rem;
}

.proj-txt{
	font-size: 1.1rem;
	margin-top: 11.5rem;
	padding: 1rem;
	text-align: center;
}

.title{
	font-family: 'PT Serif', serif;
	font-size: 2.5rem;
}

.proj_sans{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1rem;
	margin-top: 1rem; 
}

.info_sans{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 0.9rem;
	line-height: 1.4rem;
}

.info-item:hover{
	font-weight: 900;
	background-color: #b0eaff;
	transition: background-color 1s;
}

@media (max-width: 38rem) {
	.projeto{
		display: block;
		height: auto;
		width: auto;
		padding: 6rem;
		margin-left: 0rem;
		margin-right: 0rem;
		text-align: center;
	}

	.info-container{
		display: flex;
		height: 3rem;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 4.7rem;
		max-width: 40rem;
		justify-content: space-evenly;
		background-color: #5DC8EB;
		box-shadow: 0px 0px 3px;
	}

	.proj-container{
		display: flex;
		flex-direction: column;
		margin: 1rem;
		margin-bottom: 9.3rem;
		max-width: 30rem;
	}

	.proj-item {
			background-color: #B0EAFF;

	}

	.proj-txt{
		margin: 0rem;
		padding: 1rem;
		text-align: justify;
	}
}